<div class="zy_left">
<div class="zyl_title">媒体新闻</div>

  <div id="leftcontent">
 <dl>
      <dt><a href="news.html">公司新闻</a></dt>
    </dl>
 
 <dl class="current">
   <dt><a href="/downloads">高清图下载</a></dt>
      </dl>
  


</div>
</div>

