<div id="leftcontent">
 <h3>产品和服务</h3>
  <dl>
    <dt><a href="/products_mapping.htm">产品定位图</a></dt>
    <dd>
    </dd>
  </dl>
  <dl>
    <dt><a href="/products_list.htm">SUV & 4X4 轮胎产品</a></dt>
    <dd></dd>
  </dl>
  <dl>
    <dt><a href="/products_list_pcr.htm">轿车轮胎产品</a></dt>
    <dd></dd>
  </dl>
  <dl>
    <dt><a href="/products_list_winter.htm">冬季轮胎产品</a></dt>
    <dd></dd>
  </dl>
  <dl class="current">
    <dt><a href="/products/search">在线选配轮胎</a></dt>
    <dd></dd>
  </dl>
  <dl>
    <dt><a href="/products_tips.htm">轮胎保养小常识</a></dt>
    <dd></dd>
  </dl>
</div>
