cache/*
log/*
tmp/*
*.swp
/plugins/.registry/
/plugins/.channels/
/.settings/
.DS_Store
*.tmproj
public/system
public/.*.htm
public/._index.htm_bak
.sass-cache
.bundle/config
saved_items
db/schema.rb
