/* 公共样式 */

body,ul,dl,dt,dd p{ background:#fff; border:none; color:#444; padding:0px; margin:0px; font:12px Arial;  }
body{background:url(../images/con_bg.gif);}
li{list-style-type:none;}
a{color: #444; text-decoration:none;}
a:hover {color: #ee2e24; text-decoration:none;}
img,li{ vertical-align:top;}
img{ border:none;}
.ls_small {letter-spacing:-0.2pt;}

/*首页*/
.top_bg{ width:100%; height:174px; background:url(../images/top_bg.gif);}

#top{ width:1000px; height:174px; background:url(../images/tl_bg.gif) no-repeat; margin:0px auto;}
.top_logo{ height:136px; overflow:hidden;}
.logo{ float:left; width:400px; padding:34px 0px 0px 40px;}

.mc_icon{ float:right; width:138px; padding:34px 49px 0px 0px; }


#nav{/* padding:20px 0px 0px 0px; height:37px;*/  height:37px; width:998px; border:1px solid #b8b8b8; border-bottom:none;}
#nav .ul{border:1px solid #fff; height:35px; padding-left:35px; background: url(../images/menu_bg.gif); display:block; width:963px;  }
#nav .li{ z-index:500; text-align:center;float:left; position:relative;  /*border-left:solid 1px #CBCBCB;*/ height:35px; line-height:35px;}
#nav .li.line2{display:block; background:url(../images/menu_line2.gif) no-repeat right; width:2px; height:34px;}
#nav .li .a{ display:block;  font-size:14px; color:#222; font-weight:bold; padding:0px 30px;  }
#nav .li .a:hover{ color:#fff; text-decoration:none; background:url(../images/ml_bg.gif) repeat-x;}
#nav .li .current{ color:#fff; text-decoration:none; background:url(../images/ml_bg.gif) repeat-x;}
#nav .home .a{ display:inline-block;  }
#nav .li .none1{  text-align:left; left:-1px; top:35px; border:solid 1px #ddd;  border-bottom:none;  width:100%; position:absolute; z-index:500; display:none; }
#nav .current .none1{ display:block;}
#nav .li li{ height:30px; line-height:30px; border-bottom:1px solid #ddd; overflow:hidden;  background:#f9f9f9;}
#nav .li li a{color:#555; padding-left:30px;}
#nav .li li a:hover{ color:#e92d23;}

#nav .li1{ width:90px;}
#nav .li2{ width:125px;}
#nav .li3{ width:260px;}
#nav .li4{ width:135px;}
#nav .li5{ width:125px;/*border-right:1px solid #cbcbcb;*/}




.content_bg{ width:100%; height:100%; background:url(../images/con_bg.gif);}

.line1{ height:13px; width:1000px; background: url(../images/con_bg2.gif) no-repeat; margin:0px auto; overflow:hidden;}
.content{ width:915px; height:100%; background:url(../images/content_bg.gif) repeat-y; /*border:1px solid #b7b7b7;*/ border-top:none; padding:15px 29px 2px 30px; margin:0px auto; }


.banner{ margin-bottom:30px; width:915px; height:300px; background:#000;}






#banner {position:relative; width:915px; height:300px;  overflow:hidden; font-size:16px} 
#banner_list img {border:0px;} 
#banner_bg {position:absolute; bottom:0;background-color:#000;height:30px;filter: Alpha(Opacity=30);opacity:0.3;z-index:1000;cursor:pointer; width:0px; } 
#banner_info{position:absolute; bottom:4px; left:5px;height:22px;color:#fff;z-index:1001;cursor:pointer} 
#banner_text {position:absolute;width:120px;z-index:1002; right:3px; bottom:3px;} 
#banner ul {
	position:absolute;
	list-style-type:none;
	filter: Alpha(Opacity=80);
	opacity:0.8;
	z-index:1002;
	margin:0;
	padding:0;
	bottom:2px;
	right:-4px;
	height:20px;
	margin-right:5px;
	background:none;
} 
#banner ul li.nob {display:block; width:3px;  padding:0px 7px 0px 5px;float:left;cursor:pointer;/*margin:0; font-size:14px;*/margin-right:4px;border:#656462 1px solid;  background:#000; color:#fff; font-size:12px;} 
#banner_list a{position:absolute;}







.home_con{ margin-bottom:25px; overflow:hidden; padding-left:2px;}

.video{ float:left; margin-right:23px; width:255px;}
.video_con{ width:237px; height:141px; background:url(../images/video_bg.gif) no-repeat; padding-left:6px; padding-top:2px; margin-left:6px; }
.video_title{ height:34px; border-bottom:3px solid #090909; margin-bottom:13px; overflow:hidden; background:url(../images/icon1.gif) no-repeat 10px 12px;font-size:14px; padding-left:28px; line-height:34px;  }

.home_news{ float:left; margin-right:23px; width:255px;}
.hn_title{ height:34px; border-bottom:3px solid #090909; margin-bottom:18px; overflow:hidden; }
.nt_bt{ float:left; background:url(../images/icon1.gif) no-repeat 8px 12px; font-size:14px; padding-left:26px; line-height:34px;}
.more{ float:right; color:#ee2e24; background:url(../images/icon2.gif) no-repeat 2px 14px; padding-left:20px; line-height:34px; margin-right:10px; font-size:14px; }
.more a{color:#ee2e24; }

/*.hn_con{ overflow:hidden; padding-left:8px; margin-bottom:14px;}
.hc_img{ float:left; margin-right:14px;}
.hc_text{ float:left; width:132px;}
.hc_text span{ display:block; line-height:18px;}
.hc_text span.date{ color:#777; padding-top:5px;}
.hn_con1{ overflow:hidden; margin-left:9px;}
.hn_con1 span.hnc_con{ display:block; float:left; background:url(../images/icon3.gif) no-repeat 0px 11px;  padding-left:8px; line-height:28px; width:162px;}
.hn_con1 span.date2{ display:block; float:left; line-height:28px; color:#777;}*/

.find{ float:left; width:355px;}

.home_con2{ overflow:hidden; margin-bottom:35px; padding-left:3px; position: relative;}
.h_product1{ float:left; width:280px; height:127px; margin-right:25px; background: url(../images/home_pro7.gif) no-repeat; overflow:hidden;}
.hp_left{ float:left; padding-left:25px; padding-top:24px;}
span.more2{ display:block; padding:53px 0px 0px 17px; background:url(../images/icon2.gif) no-repeat 2px 57px; font-family:Arial, Helvetica, sans-serif; font-weight:bold; color:#ee2e24; }
span.more2 a{color:#ee2e24; }
.hp_right{ float:right; padding-right:14px; padding-top:9px;}
/*span.more3{ display:block; padding:53px 0px 0px 42px; background:url(../images/icon2.gif) no-repeat 28px 99px; font-family:Arial, Helvetica, sans-serif; font-weight:bold; color:#ee2e24; }
span.more3 a{color:#ee2e24; }*/
.h_product2{ float:left; width:295px; height:127px; margin: 0 2px 0 6px; background: url(../images/home_pro8.gif) no-repeat;}
.h_product3{ float:left; width:280px; height:127px; background: url(../images/home_pro9.gif) no-repeat;}

.footer{ width:978px; height:38px; background:url(../images/footer_bg.gif) no-repeat; margin:0px auto; margin-bottom:70px; position:relative;}
.back_top{	width:24px;	height:65px;	position: absolute;	left: 980px;	bottom:0px;}

.copyright{ float:left; line-height:38px; color:#aaa; padding-left:25px;}
.bt_menu{ float:right; line-height:38px; color:#aaa;}
.bt_menu a{ color:#aaa;}
.bt_menu a:hover{ text-decoration:underline; color:#aaa;}

#topselectcontent{ cursor:pointer; float:right; width:92px; position:relative;/* z-index:999999999999; */height:24px; background:url(../images/select_01.jpg) no-repeat 0px 2px; margin-left:20px; margin-top:7px; margin-right:20px;}
#topselectcontent .text{ text-align:left; line-height:22px; padding:0px 0px 0px 10px; height:24px;}
#topselectcontent .none{	text-align:left;	width:86px;	position:absolute;	top:-199px;	left:0px;	border:solid 1px #CBCBCB;	border-bottom-width:0px;	background-color:#FFFFFF;	display:none;}
#topselectcontent .none li{  height:25px; line-height:25px;} 
#topselectcontent .none li a{ overflow:hidden; display:block; height:25px; padding:0px 0px 0px 10px;}
#topselectcontent .none li a:hover{ text-decoration:none; background-color:#004D8C; color:White;}

.kk{ font-size:0px; text-indent:-1000px; }

.ph_short{ padding:0px 0px 0px 5px; overflow:hidden; }
.pro_con{ float:left; width:248px; height:119px; background:#fcfcfc; border:1px solid #ddd;}
.home_pro1{  overflow:hidden; }
.xz_pro{ overflow:hidden; height:24px; padding:25px 0px 18px 15px;}
.searchbtn{ width:111px; height:34px; line-height:34px; background:url(../images/home_pic4.gif) no-repeat 0px 0px; cursor:pointer; border:0px; vertical-align:middle; color:White; font-weight:bold; font-size:13px; margin-left:70px;}
.select1{ height:22px; float:left;  line-height:22px; vertical-align:middle; width:65px; margin:0px 5px 0px 0px;}
.select7{ height:22px; float:left;  line-height:22px; vertical-align:middle; width:75px; margin:0px 5px 0px 0px;}
.select2{ height:22px; float:left;  line-height:22px; vertical-align:middle; width:107px; margin:0px 5px 0px 0px;}
.select3{ height:22px; float:left;  line-height:22px; vertical-align:middle; width:220px; margin:0px 5px 0px 0px;}

.tabTitle{ float:left;} 
	.tabTitle a {display:block;width:94px;height:37px; background:url(../images/home_pic3.gif) no-repeat;text-align:center;color:#fff; line-height:39px; padding-bottom:5px;  font-size:12px;} 
	.tabTitle a.current { color:#ffffff; background:url(../images/home_pic2.gif) no-repeat;}
	.tabTitle a:hover { color:#ffffff; background:url(../images/home_pic2.gif) no-repeat;  text-decoration:none;} 



/*品牌故事*/
.content2{ width:920px; height:100%; background:#fff; /*border:1px solid #b7b7b7;*/ background:url(../images/content_bg.gif) repeat-y; border-top:none; padding:0px 27px 0px 27px; margin:0px auto; overflow:hidden;}
.line3{ height:9px; width:984px; background: url(../images/br_pic1.gif) no-repeat; margin:0px auto;}

.zy_left{ width:200px; margin-right:16px; float:left; padding-top:25px;}
.zyl_title{ width:180px; height:38px; background:#161616; line-height:38px; color:#fff; font-size:15px; font-weight:bold; padding-left:20px;}
.zyl_title2{ width:180px; height:38px; background:#161616; line-height:38px; color:#fff; font-size:13px; font-weight:bold; padding-left:20px;}

#leftcontent{  border-top:solid 1px #ccc;  margin:12px 8px 0px 8px;}
#leftcontent dt{ height:34px; line-height:34px; border-bottom:1px solid #ccc;  overflow:hidden;}
#leftcontent dt a{ padding:0px 0px 0px 33px; text-decoration:none; height:34px;  display:block; background:url(../images/br_pic8.gif) no-repeat 20px 13px;}
#leftcontent dt a:hover{background-position:0px -31px;color:#e92d23; background:url(../images/br_pic2.gif) no-repeat 20px 13px;}
#leftcontent dd{ display:none; border-bottom:1px solid #ccc; margin:0px;}
#leftcontent dd ul{ display:block; padding:10px 0px 20px 0px; margin-left:30px; }
#leftcontent dd li{height:23px; line-height:23px; overflow:hidden; }
#leftcontent dd a{ text-decoration:none; padding:0px 0px 0px 5px; overflow:hidden; display:block; color:#666;}
#leftcontent dd .hover{ background:url(../pic/li04.jpg) no-repeat 0px 8px;color:#e92d23;}
#leftcontent .current dt{background:url(../images/br_pic2.gif) no-repeat 20px 13px;}
#leftcontent .current dt a{color:#e92d23;  background:url(../images/br_pic2.gif) no-repeat 20px 13px;}
#leftcontent .current dd{ display:block;}

.zy_right{ float:left; width:680px; background:url(../images/br_pic3.gif) repeat-y; padding-top:25px; padding-left:24px; }
.zyr_title{height:34px; border:1px solid #eaeaea; border-left:none; border-right:none; margin-bottom:20px; overflow:hidden;}
.dq_bt{ float:left; background:url(../images/icon1.gif) no-repeat 10px 13px; line-height:34px; font-size:12px;  color:#444; padding-left:30px;}
.dh_list{ float:right; line-height:34px; margin-right:16px; color:#999; }
.dh_list a{ color:#999;}
.dh_list a:hover{ color:#d6281f;}
span.red_dq{ color:#d6281f;}

.brand_con{ padding:0px 15px 10px 6px;overflow: hidden; margin-top: -20px;}
.brc_c1{ color:#ca261c; font-size:22px; margin-bottom:20px; font-weight: bold; margin-top: 15px;}
.brc_c2{ overflow:hidden;}
.bc2_left{ float:left; margin-right:22px; width:202px; }
.bc2_left span{ display:block; }
span.bl_img{margin-bottom:18px;}
span.bl_bt{ margin-bottom:10px;}
span.bl_con{ color:#888; line-height:18px; padding-bottom:15px; margin:0px;}

.bl_2{ margin-top:30px;}



.bc2_right{ float:left; width:435px;}
.bc2_right p{ display:block; margin:0px 0px 18px 0px; font-size:12px; line-height:24px; text-indent:28px; }

.bc2_left2{ float:right; margin-right:0; width:435px; }
.bc2_left2 span{ display:block; }
.bc2_right2{ float:left; width:195px; margin-top:20px;}
.bc2_right2 span{ display:block; }


/*关于mc*/
.abmc_con{ padding:0px 18px 0px 6px;}
.ac_title{ font-size:18px; font-weight:bold; margin-bottom:15px;}

.ac_con1{padding-bottom:40px; width:665px;}
.acc_top{ height:35px; background:url(../images/about_pic1.gif); padding-left:15px; overflow:hidden;}
span.at_number{ display:block; float:left; width:18px; height:18px; line-height:18px; text-align:center; background:#bc231a; color:#fff; margin-top:9px;}
span.at_text{ display:block; float:left; margin-left:15px; font-size:14px; color:#bc231a; line-height:35px; font-weight:bold;}

.acc_bottom{ font-size:12px; line-height:24px; padding:15px 8px 0px 8px; overflow:hidden; }
.acc_bottom span{ display:block; float:left; padding-right:1px;}
.acc_bottom span.sm2{ width:360px; margin-right:30px; padding-top:10px;}
.acc_bottom span.sm3{ width:245px; text-align:center; line-height:15px;}

.acc_bottom p{ display:block; margin:0px;}
.acc_bottom p.ab_1{ margin-bottom:10px;}

.acc_bottom2{ overflow:hidden;}
.acc_bottom2 span{ display:block; float:left;}
.acc_bottom2 span.sm{ width:192px; height:62px; margin-top:100px; padding:0px 20px; padding-top:3px; line-height:20px; background:url(../images/about_pic7.gif) no-repeat;}
.acc_bottom3{padding:15px 8px 30px 8px; overflow:hidden; }
.acc_bottom3 span{ display:block; float:left; padding-right:1px; margin-top:5px;}


/*轮胎使用常识*/
/*.cs_con{ width:677px; padding-bottom:20px; overflow:hidden;}
.csc_left{ float:left; width:283px; height:330px; background: #f7f7f7; padding:16px 20px; margin:0px 12px 12px 0px; overflow:hidden; }
.black_title{ width:153px; height:30px; background:url(../images/comm_pic1.gif) no-repeat; line-height:27px; font-size:14px; color:#fff; padding-left:10px; margin-bottom:15px; font-weight:bold;}
p.black_con{ display:block; margin:0px 0px 12px 0px; line-height:22px; padding-left:5px; }
p.t_list{display:block; margin:0px 0px 8px 0px; padding-left:5px;  line-height:20px;}
.lin5{ float:left; width:1px; border-right:1px dashed #dfdfdf; height:370px; overflow:hidden; margin-top:3px;}
.csc_right{ float:left; width:283px; height:330px;  background:#f7f7f7; padding:16px 20px; margin:0px 0px 12px 12px;  overflow:hidden; }
.line6{ float:left; height:1px; width:635px; margin-left:10px; border-bottom:1px dashed #dfdfdf;  overflow:hidden; }

.csc_left2{ float:left; width:283px; height:130px;   background:#f7f7f7; padding:16px 20px; margin:12px 12px 12px 0px; overflow:hidden;}
.csc_right2{ float:left; width:283px; height:130px;  background:#f7f7f7; padding:16px 20px; margin:12px 0px 12px 12px; overflow:hidden;}
.lin7{ float:left; width:1px; border-right:1px dashed #dfdfdf; height:183px; overflow:hidden;margin-top:3px;overflow:hidden;}

.csc_left3{ float:left; width:283px; height:145px;   background:#f7f7f7; padding:16px 20px; margin:12px 12px 12px 0px;overflow:hidden; }
.csc_right3{ float:left; width:283px; height:145px;  background:#f7f7f7; padding:16px 20px; margin:12px 0px 12px 12px; overflow:hidden;}
.lin8{ float:left; width:1px; border-right:1px dashed #dfdfdf; height:195px; overflow:hidden;margin-top:3px;overflow:hidden;}

.csc_left4{ float:left; width:632px; height:155px;   background:#f7f7f7; padding:16px 20px; margin:12px 12px 12px 0px; margin-right:0px; }*/
#products_tips{ padding:0px 15px 80px 0px;}
#products_tips dl{ display:block; padding:30px 0px 0px 20px; }
#products_tips dl.frist{ padding-top:20px;}
#products_tips .current dt{}
#products_tips .current dt strong{ background:url(../images/products_tips_close.jpg) no-repeat 4px 9px; }
#products_tips .current dd{ display:none;}
#products_tips dt{ cursor:pointer; height:30px; line-height:28px; background:url(../images/comm_pic1.gif) no-repeat; padding:0px 0px 0px 10px;}
#products_tips dt strong{ display:block; color:#fff; font-size:14px; padding:0px 20px 0px 22px; background:url(../images/products_tips_hide.jpg) no-repeat  4px 9px;}
#products_tips dd{ display:block; /*display:block;*/ line-height:20px; padding:10px 15px 15px 0px; border-bottom:dotted 1px #CBCBCB; margin:0px;}
#products_tips dd p{ line-height:24px;}
#products_tips dd ul{ padding:10px 20px 0px 15px;}
ul.tips li { list-style: disc; line-height:24px;}


/*产品与服务*/
.product_con{ overflow:hidden; padding-bottom:300px; width:680px;}
.pro_ks{ float:left; display:block; width:175px; height:390px; border:1px solid #ccc; margin-right:14px; padding:18px 15px 0px 24px; margin-bottom:30px;}
.pk_2{ padding:10px 0px 20px 0px; font-size:13px; line-height:18px;}
.pk_4{ font-size:13px; line-height:18px;}
.pro_ks2{ float:left; width:175px; height:390px; border:1px solid #ccc; padding:18px 15px 0px 24px; margin-bottom:30px; }
.pro_ks3{ float:left; display:block; width:175px; height:405px; border:1px solid #ccc; margin-right:14px; padding:18px 15px 0px 24px; margin-bottom:30px;}
.pro_ks4{ float:left; width:175px; height:405px; border:1px solid #ccc; padding:18px 15px 0px 24px; margin-bottom:30px; }


/*产品详细*/

.product_con1{ overflow:hidden; }
.prc_con1{ width:660px; padding-left:15px; overflow:hidden; margin-bottom:50px;}
.pc1_img{ float:left; width:260px; height:275px; border:1px solid #ebebeb; margin-right:30px;}
.pc1_text{ float:left; width:350px;}
.pct_1{ padding:5px 0px 10px 0px;}
.pct_2{line-height:25px; font-size:14px; }
.pct_3{font-size:14px;  padding-top:4px;}
ul.pct_4{ display:block; padding-top:14px; overflow: hidden;}
ul.pct_4 li{ display:block; float:left; padding-right:15px; width:165px; padding-bottom:7px; overflow:hidden;}
ul.pct_4 li.x_right{ padding-right:0px;}
ul.pct_4 li span{ display:block; float:left; height:20px; }
ul.pct_4 li span.p4_left{ width:70px; height:20px; line-height:20px; color:#fff; background:#575757; text-align:center;}



#tab2 {  width:670px; margin-left:8px; }

	.tabTitle2{ width:650px; height:33px; background:url(../images/product_pic14.gif) repeat-x; padding-left:10px; margin-bottom:20px;}
	.tabTitle2  a { display:block; float:left; width:100px; height:23px; padding-right:5px;  padding-top:10px; background:url(../images/product_pic13.gif) no-repeat; font-size:14px; /*font-weight:bold; */text-align:center; text-decoration:none;}
	.tabTitle2  a.current { color:#ff0000; background:url(../images/product_pic12.gif) no-repeat;}
	.tabTitle2  a:hover { color:#ff0000; background:url(../images/product_pic12.gif) no-repeat;}
	
	.contentBox2{ padding:10px 0px 12px 0px;}
	.tabContentList2 li{ line-height:22px; }
	.tabContentList2 li span{ color:#FF6600;}

.prc_con2{ margin-bottom:50px;}
.pc2_title{ border-bottom:1px solid #ddd; height:32px; line-height:32px; background:url(../images/icon1.gif) no-repeat 15px 12px; font-size:14px; padding-left:35px; margin-bottom:32px;}

.pc2_bottom{ overflow:hidden; padding-left:10px;}
.pc2_bottom dl{ display:block; float:left;}

dl.pb_left{  width:297px; height:235px; border: 1px dashed #dfdfdf; border-top:none; border-left:none; padding:8px 0px 0px 20px;}
dt.pbl_bt{ display:block; background:url(../images/product_pic3.gif) no-repeat 0px 2px; color:#e92d23; padding-left:12px; font-size:14px;}
dd.pbl_nr1{ display:block; margin:0px; color:#555; font-size:14px; margin-top:12px; font-weight:bold;}
dd.pbl_nr2{ display:block; margin:0px; color:#666; font-size:12px; margin-top:5px; line-height:20px;}
dd.pbl_nr3{ display:block; margin:0px; font-size:14px; margin-top:20px; }
dd.pbl_nr4{ display:block; margin:0px; font-size:14px; margin-top:8px; }
dd.pbl_nr5{ display:block; margin:0px; color:#555; font-size:14px; margin-top:5px; font-weight:bold;}
dd.pbl_nr6{ display:block; float:left; margin:0px; color:#444; font-size:14px; margin-top:20px;}
dd.pbl_nr7{ display:block; float:left; margin:0px; color:#444; font-size:14px; margin:20px 37px 0px 10px;}
dd.pbl_nr7 span{ display:block; line-height:20px;}
dd.pbl_nr8{ display:block; margin:0px; color:#666; font-size:12px; margin-top:5px; margin-bottom:15px; line-height:20px;}
dd.pbl_nr9{ display:block; margin:0px; font-size:14px; margin-top:13px;   }
dd.pbl_nr10{ display:block; margin:0px; color:#444; font-size:14px; margin-top:12px; margin-bottom:3px; line-height:20px;}

dl.pb_right{  width:295px; height:235px; border-bottom: 1px dashed #dfdfdf; padding:8px 0px 0px 45px;}
dl.pb_left2{width:297px; height:295px; border-right: 1px dashed #dfdfdf; padding:35px 0px 0px 20px; margin-bottom:20px;}
dl.pb_right2{ width:295px; height:295px;  padding:35px 0px 0px 45px; margin-bottom:20px;}
dl.pb_left3{  width:297px; height:255px; border: 1px dashed #dfdfdf; border-top:none; border-left:none; padding:8px 0px 0px 20px;}
dl.pb_right3{ width:295px; height:255px; border-bottom: 1px dashed #dfdfdf; padding:8px 0px 0px 45px;}
dl.pb_left4{ width:297px; height:245px; border-right: 1px dashed #dfdfdf;  padding:35px 0px 0px 20px; margin-bottom:25px;}
dl.pb_right4{width:295px; height:245px;  padding:35px 0px 0px 45px; margin-bottom:25px;}
dl.pb_left5{  width:650px;   padding:35px 0px 20px 20px;}
dl.pb_left6{ width:297px; height:310px; border: 1px dashed #dfdfdf; border-top:none; border-left:none; padding:8px 0px 0px 20px;}
dl.pb_right6{  width:295px; height:310px; border-bottom: 1px dashed #dfdfdf; padding:8px 0px 0px 45px;}
dl.pb_left7{width:297px; height:255px; border-right: 1px dashed #dfdfdf;  padding:35px 0px 0px 20px; margin-bottom:30px;}
dl.pb_right7{ width:295px; height:255px; padding:35px 0px 0px 45px; margin-bottom:30px;}
dl.pb_left8{width:297px; height:325px; border-right: 1px dashed #dfdfdf; padding:35px 0px 0px 20px; margin-bottom:20px;}
dl.pb_right8{ width:295px; height:325px;  padding:35px 0px 0px 45px; margin-bottom:20px;}
dl.pb_left9{ width:297px; height:275px; border: 1px dashed #dfdfdf; border-top:none; border-left:none; padding:8px 0px 0px 20px;}
dl.pb_right9{  width:295px; height:275px; border-bottom: 1px dashed #dfdfdf; padding:8px 0px 0px 45px;}

dl.pb_left10{ width:297px; height:335px; border: 1px dashed #dfdfdf; border-top:none; border-left:none; padding:8px 0px 0px 20px;}
dl.pb_right10{  width:295px; height:335px; border-bottom: 1px dashed #dfdfdf; padding:8px 0px 0px 45px;}




.pb_bottom{ float:left; width:630px; height:33px; margin-top:30px; margin-left:5px;}

.pc3_top{ background:#161616; width:640px; height:44px; overflow:hidden; margin-left:17px;}
.pc3_top span{ display:block; float:left; line-height:35px;padding-top:5px; color:#fff;  text-align:center; /*border-right:1px solid #575757;*/ }
/*span.pt_1{ width:52px; }*/
span.pt_2{ width:104px; font-size:15px; text-align:left; padding-left:45px; }
span.pt_3{ width:96px;line-height:18px; }
span.pt_4{ width:91px;line-height:18px;}
span.pt_5{ width:100px;line-height:18px;}
span.pt_6{ width:111px;}
span.pt_7{ width:85px; border-right:none;}

ul.pc3_list{ display:block; border-left:1px solid #ddd; border-right:1px solid #ddd; margin-left:17px; margin-bottom:50px; width:639px;}
ul.pc3_list li{ display:block; height:32px;  border-bottom:1px solid #ddd; background:#f1f1f1; }
ul.pc3_list li.pl_sz{ display:block; background:#c8161d; line-height:32px; height:32px; font-size:14px; font-weight:bold; padding-left:45px; color:#fff; overflow:hidden; }


ul.pc3_list li span{display:block; float:left; line-height:32px;  font-size:12px; text-align:center; border-right:1px solid #ddd;}
/*ul.pc3_list li span.py_1{ width:51px; }*/
ul.pc3_list li span.py_2{width:105px; text-align:left; padding-left:45px; background:#fff; }
ul.pc3_list li span.py_7{width:80px; border-right:none; }
ul.pc3_list li span.py_6{ width:96px;line-height:32px; }
ul.pc3_list li span.py_8{ width:100px;line-height:32px;}
ul.pc3_list li span.py_9{ width:91px;line-height:32px;  background:#fff; }
ul.pc3_list li span.py_10{ width:111px; background:#fff;}
ul.pc3_list li span.wzy{ background:#fff url(../images/axt_pic11.gif) no-repeat 20px 9px; }

.pc4_top{ background:#c8161d; width:640px; height:40px; overflow:hidden; margin-left:17px;}
.pc4_top span{ display:block; float:left; line-height:40px; color:#fff; font-size:13px; text-align:center; /*border-right:1px solid #575757;*/ }
span.pt_8{ width:80px; }
span.pt_9{ width:160px;  }
/*span.pt_10{ width:70px; }*/
.pc4_top span.pt_11{ width:397px; border-right:none;  }


.cx_con{ overflow:hidden; margin-left:17px; padding-bottom:50px; }
.pc4_list2{ float:left; width:79px; border:1px solid #ddd; border-right:none; border-bottom:none;}
.pc4_list2 span{ display:block; text-align: center; border-bottom:1px solid #ddd;}
.pc4_list2 span.cb_1{ height:64px; line-height:64px; background:#f1f1f1;}
.pc4_list2 span.cb_2{ height:278px; line-height:278px;}
.pc4_list2 span.cb_3{ height:360px; line-height:360px; background:#f1f1f1;}
.pc4_list2 span.cb_4{ height:98px; line-height:98px;}
.pc4_list2 span.cb_5{ height:130px; line-height:130px;background:#f1f1f1;}
.pc4_list2 span.cb_6{ height:131px; line-height:131px;}
.pc4_list2 span.cb_7{ height:98px; line-height:98px;background:#f1f1f1;}
.pc4_list2 span.cb_8{ height:31px; line-height:31px;background:#f1f1f1;}
.pc4_list2 span.cb_9{ height:197px; line-height:197px;}
.pc4_list2 span.cb_10{ height:164px; line-height:164px;background:#f1f1f1;}
.pc4_list2 span.cb_11{ height:98px; line-height:98px;}
.pc4_list2 span.cb_12{ height:1014px; line-height:1004px; background:#f1f1f1;}
.pc4_list2 span.cb_13{ height:712px; line-height:712px;}
.pc4_list2 span.cb_14{ height:246px; line-height:246px; background:#f1f1f1;}
.pc4_list2 span.cb_15{ height:32px; line-height:32px;}

.pc4_list2 span.cb_16{ height:67px; line-height:67px; background:#f1f1f1;}
.pc4_list2 span.cb_17{ height:318px; line-height:318px;}
.pc4_list2 span.cb_18{ height:180px; line-height:180px; background:#f1f1f1;}
.pc4_list2 span.cb_19{ height:65px; line-height:65px;}
.pc4_list2 span.cb_20{ height:167px; line-height:167px; background:#f1f1f1;}




ul.pc4_list{ float:left; display:block; border-left:1px solid #ddd; border-right:1px solid #ddd; width:558px;}
ul.pc4_list li{ display:block; height:32px;  border-bottom:1px solid #ddd;  }
ul.pc4_list li.pl_sz{ display:block; background:#f1f1f1; line-height:32px; font-size:14px; font-weight:bold; padding-left:65px; color:#e92d23; overflow:hidden; }
ul.pc4_list li.pcl_ys{ /*background:#f6f6f6;*/background:#f1f1f1;}
ul.pc4_list li.pcl_jg{ height:48px; }
ul.pc4_list li.pcl_jg3{ height:68px; }
ul.pc4_list li.pcl_jg4{ height:68px;background:#f1f1f1; }
ul.pc4_list li.pcl_jg5{ height:48px;background:#f1f1f1; }


.ls_sm{ float:right; width:600px; text-align:right; padding-top:10px; padding-right:10px; color:#777;}


ul.pc4_list li span{display:block; float:left; line-height:32px;  font-size:12px; text-align:center; border-right:1px solid #ddd;}
ul.pc4_list li span.py_2{width:84px;}
ul.pc4_list li span.py_3{width:45px; }
ul.pc4_list li span.py_11{width:60px; }
ul.pc4_list li span.py_4{width:36px; }
ul.pc4_list li span.py_5{width:366px; border-right:none; padding-left:14px; padding-right:7px; overflow:hidden; text-align:left; }
ul.pc4_list li span.py_12{width:351px; border-right:none; padding-left:14px; padding-right:7px; overflow:hidden; text-align:left; }
ul.pc4_list li span.py_jg{ height:48px; line-height:48px;}
ul.pc4_list li span.py_jg2{ height:38px; line-height:18px; padding-top:7px;}
ul.pc4_list li span.py_jg3{ height:68px; line-height:68px;}
ul.pc4_list li span.py_jg4{ height:58px; line-height:18px; padding-top:7px;}


/*axt*/
.ca_tby{ font-size:14px; font-weight:bold; margin-bottom:15px;}
.ca_tsm{ line-height:20px; padding-bottom:12px; border-bottom:1px solid #ddd;}
.ca_tcx{ padding-top:15px; line-height:18px; overflow:hidden;}
.ca_tcx span{ display:block; float:left; margin-right:10px;}
.pc3_list li.wsm{ background:#fff; text-align:right; line-height:35px; background:url(../images/axt_pic11.gif) no-repeat  532px  12px; padding-right:20px; }


/*查找轮胎*/
#find_con { width:651px; }
.fc_title{ height:36px; background:#e8e8e8;}
.fc_title h2{ padding:0px; margin:0px;}
.fc_title h2 a { display:block; float:left; width:215px; height:36px; line-height:36px; margin:0px; border-left:1px solid #d5d5d5;  font-size:14px;font-weight:bold; color:#444; text-align:center;}
.fc_title h2 a.current { color:#fff; background:url(../images/find_pic1.gif) no-repeat center; text-decoration:none;}
.fc_title h2 a:hover { color:#fff; background:url(../images/find_pic1.gif) no-repeat center;text-decoration:none; }

/*内容框*/
.fc_con{ border:1px solid #dddddd; height:260px; margin-bottom:350px;  }  
.home_pro1{  overflow:hidden; }
.xz_pro2{ overflow:hidden; height:24px; padding:70px 0px 30px 150px;}
.searchbtn2{ width:111px; height:34px; line-height:34px; background:url(../images/home_pic4.gif) no-repeat 0px 0px; cursor:pointer; border:0px; vertical-align:middle; color:White; font-weight:bold; font-size:13px; margin-left:280px;}
.select4{ height:24px; float:left;   vertical-align:middle; width:120px; margin:0px 10px 0px 0px;}
.select5{ height:24px; float:left;   vertical-align:middle; width:160px; margin:0px 10px 0px 0px;}
.select6{ height:24px; float:left;   vertical-align:middle; width:350px; margin:0px 10px 0px 0px; }


/*查找轮胎__查找到的内容*/
.fdc_con{ padding-bottom:40px; padding:0px 5px 40px 5px;  overflow:hidden;}
.fd_top{ font-size:15px; color:#ea2d23; padding-left:8px; }
.fd_list{ width:665px; border-bottom:1px solid #ddd; padding:30px 0px 30px 8px; overflow:hidden;}
.fl_img{ float:left; width:165px; height:165px; border:1px solid #ddd; margin-right:30px;}
dl.fl_text{ display:block; float:left; width:450px;}
dl.fl_text dt{ display:block; font-size:20px; color:#ea2d23; font-weight:bold; margin-bottom:10px;}
dl.fl_text dd{ display:block; margin:0px; line-height:24px; font-size:14px; overflow:hidden;}
dl.fl_text dd a{ display:block; color:#ea2d23; padding-top:5px;}
dl.fl_text dd  span{ display:block; float:left; margin-right:30px;}
.fd_btn{ margin-top:30px;}
.back_btn{ width:131px; height:34px; line-height:34px; background:url(../images/fc_pic2.gif) no-repeat 0px 0px; cursor:pointer; border:0px; vertical-align:middle; color:White; font-weight:bold; font-size:13px; margin-left:270px;}


/*经销商查找*/
.df_con{ padding-left:10px; font-size:14px; font-weight:bold; color:#ee2e24; padding-bottom:700px;}

/*高清图下载*/
.download_con{ overflow:hidden; padding-bottom:350px; padding-left:10px; width:665px;}
.dlc_con{ float:left; width:201px; margin-right:25px;}
.dc_img{ width:191px; height:283px; border:1px solid #ddd; padding:4px; margin-bottom:15px;}
.dc_text{ font-size:14px; color:#ea2d23; text-align: center;}
.download1{ width:87px; height:28px; line-height:28px; background:url(../images/download_pic4.gif) no-repeat 0px 0px; cursor:pointer; border:0px; vertical-align:middle; color:White;  font-size:12px ; margin-left:60px; margin-top:10px;}
.dlc_con2{ float:left; width:201px; }


/*联系我们*/
.contact_con{ padding:10px 0px 550px 30px;}
.cc_con2{ overflow:hidden; margin-top:25px;}
.cot_left{ float:left; border-left:3px solid #e92d23; padding-left:15px;}
.cc_con2 span{ display:block;  width:285px; line-height:26px;}
.cc_con2 span.lhd{ line-height:15px; padding-bottom:6px;}
.cc_con2 span.lhd2{ line-height:15px; padding-top:6px;}
.cot_right{ float:left; border-left:3px solid #e92d23; padding-left:15px; margin-left:50px; padding-bottom:5px;}


/*版权信息*/
.copyright_con{ padding-left:15px; padding-bottom:260px;}
.copyright_con p{ display:block; margin:0px; padding-bottom:20px; line-height:22px;}
.copyright_con p.sj{ padding-left:15px;}
.copyright_con p.ntb{ padding-bottom:7px;}

/*网站地图*/
.sitemap_con{ margin-top:25px;}
.smp_list{ padding:10px 30px  400px 25px; }
dl.sc_con{ display:block; border-bottom:1px dashed #ddd; margin-bottom:20px; width:850px;  overflow:hidden;}
dl.sc_con dt{ display:block; float:left; width:130px; height:30px; background:#181818; font-size:14px; font-weight:bold; text-align:center; color:#fff; line-height:30px; margin-right:45px;}
dl.sc_con dd{ display:block; float:left; width:175px; line-height:26px; font-size:14px; margin:0px;}
dl.sc_con dd.tc{ padding-right:25px;}
dl.sc_con dd.cs{ width:100px;}
.line4{ height:9px; width:984px; background: url(../images/sm_pic1.gif) no-repeat; margin:0px auto;}


.bl_1 {
  margin: 0 0 90px 0;
  }


.st_con{ padding-bottom:50px;}  

/*查找店铺*/
.ft_con{ padding-left:20px;}
#shopsearch{ padding:20px 0px;}
#shopsearch .tabs{ height:37px; border-bottom:1px solid #ddd; margin-bottom:20px;}
#shopsearch .tabs li{ display:block; height:37px;  width:144px; float:left; margin:0px 0px 0px 7px; line-height:37px;}
#shopsearch .tabs a{ color:#444; font-size:14px; float:left; display:block; width:144px; height:37px; text-align:center; background:url(../images/fs_pic2.gif) no-repeat;}
#shopsearch .tabs .current,#shopsearch .tabs a:hover{ color:#fff;  text-decoration:none; background-position:right 0px;background:url(../images/fs_pic1.gif) no-repeat;}
#shopsearch .body{ padding:20px 0px 0px 0px;}
#shopsearch .search{ padding:30px 0px;}
#shopsearch .searchtxt{ color:#656565; margin:0px 8px; height:24px; line-height:24px; padding:0px 5px; background:url(../pic/text_bg.jpg) repeat-x 0px 0px; vertical-align:middle; border:solid 1px #B9B9B9; width:300px;}
#shopsearch .searchbtn3{  width:106px; height:34px; line-height:31px; border:none; cursor:pointer; background:url(../images/fs_pic3.gif) no-repeat; color:White;  font-weight:bold; vertical-align:middle; padding:0px;}
#shopsearch .list{ padding:10px 0px 0px 0px; /*border-top:solid 2px #CBCBCB;*/ }
#shopsearch .list li{  *display:inline-block; background:url(../images/fs_pic4.gif) no-repeat 3px 8px; padding:0px 0px 20px 20px; position:relative;}
#shopsearch .list dt{ line-height:22px; height:22px; overflow:hidden; color:#ee2e24; font-weight:bold;}
#shopsearch .list dd{ line-height:20px;  margin:0px;}
#shopsearch .list p{ color:#656565;}
#shopsearch .list .tip{ height:20px; left:300px; top:20px;  position:absolute; padding:0px 0px 0px 10px;}
#shopsearch .list .tip strong{ line-height:20px;color:#ffffff; display:inline-block; height:20px; padding:0px 10px 0px 0px;}
#shopsearch .searchtable{ padding:30px 0px;}
#shopsearch .searchtable td{ padding:5px;}
#shopsearch .searchtable .td{ text-align:right;}


.home_con2 {
    height: 160px;
}
.home_con2 .prev {
    position: absolute;
    right: 10px;
    bottom: 0;
}
.home_con2 .next {
    position: absolute;
    right: 40px;
    bottom: 0;
}











