 <span id="name">
 	<%= 
  raw select_tag 'name',
                options_for_select(sort_decorative, :disabled => "disable").html_safe,
                :prompt => "选择花纹", 
                :class => "select",
                :style => "width:200px"
 %>
 </span>
