 
<!-- SiteSearch Google -->
 
<form method="get" action="http://www.google.com/search">
    <input type="text" name="q" class="input1" value="search" /> 
    <input type="hidden" name="ie" value="UTF-8" />
    <input type="hidden" name="oe" value="UTF-8" />
    <input type="hidden" name="hl" value="zh-CN" />
    <div class="dj"><input type="image" src="/images/home_pic5.gif" alt="Submit" /></div>
    <input type="hidden" name="domains" value="<%= request.url %>" />
</form>
<!-- SiteSearch Google -->


