<div class="body">
	<strong>按尺寸查找</strong>
	<span id="tyre">
		<%= select_tag 'tyre',options_for_select(Product.tyre_all_collection, :disabled => "disable" ), :disable_with => '165', :prompt => "断面宽", :class => "select", :style => "width:100px" %>
	</span>
	<span id="aspect_ratio" >
		<%= select_tag 'aspect_ratio', options_for_select([]), :prompt => "扁平比", :class => "select", :style => "width:100px" %>
	</span>
	<span id="diameter">
	<%= select_tag 'diameter', options_for_select([]), :prompt => "轮辋直径", :class => "select", :style => "width:115px"%>
	</span>
	<input type="submit" class="searchbtn" value="查询轮胎" />
	<div class="clear"></div>
</div>
