<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
<script type="text/javascript">

 var _gaq = _gaq || [];
 _gaq.push(['_setAccount', 'UA-34135858-1']);
 _gaq.push(['_trackPageview']);

 (function() {
   var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
   ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
   var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
 })();

</script>

<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Fa4d690572a392fb443b76154f5f54484' type='text/javascript'%3E%3C/script%3E"));
</script>

<%= render '/refinery/head' %>
  <body>
    <%#= render '/refinery/ie6check' if request.env['HTTP_USER_AGENT'] =~ /MSIE/ -%>
	<div id="allcontent">
	<div id="header">
	  <h1 id="logo"><a href="/">固铂轮胎</a></h1>
	  <div class="r">
	    <div class="site">
	    <div id="topselectcontent">
	       <div class="text">品牌家族</div>
	       <div class="none">
	         <ul>
	          <li><a href="http://www.mastercrafttires.com" target="_blank" title="Mastercraft">Mastercraft</a></li>
	          <li><a href="http://www.avontyres.com/" target="_blank" title="Avon Tyres">Avon Tyres</a></li>
	          <li><a href="http://www.mickeythompsontires.com/" target="_blank" title="M/T">M/T</a></li>
	          <li><a href="http://www.starfiretire.com.cn/" target="_blank" title="Starfire">Starfire</a></li>
	          <li><a href="http://www.chengshantire.com/" target="_blank" title="Cheng Shan">Cheng Shan</a></li>
	          <li><a href="http://www.dickcepek.com/" title="Dick Cepek" target="_blank">Dick Cepek</a></li>
	          <li><a href="http://www.austonetire.com" target="_blank" title="Austone">Austone</a></li>
	          <li><a href="http://www.fortunetire.com.cn" target="_blank" title="Fortune">Fortune</a></li>
	         </ul>
	       </div>
	    </div>
	    <a class="a" href="/contactus.htm">联系我们</a><a class="a" href="/sitemap.htm">网站地图</a><a class="a" href="http://www.coopertire.com" target="_blank" >固铂全球官网</a>
	    </div>
	   
	
	 <div id="nav">
	      <ul class="ul">
	        <li class="li home"><a class="a" href="/"></a></li>
	        <li class="li li1"><a class="a" href="/about.htm">关于固铂</a>
	          <div class="none">
	            <ul class="menu">
	              <li><a href="/about.htm">固铂概况</a></li>
	              <li><a href="/history.htm">固铂历史</a></li>
	              <li><a href="/facilities.htm">研发与生产</a></li>
	              <li><a href="/quality_safety.htm">质量与安全</a></li>
	              <li><a href="/jobs">工作机会</a></li>
	              <li><a href="/contactus.htm">联系我们</a></li>
	            </ul>
	          </div>
	        </li>
	        <li class="li li2"><a class="a" href="/brand_position.htm">无固铂，不越野</a>
	        <div class="none">
	            <ul class="menu">
	              <li><a href="/brand_position.htm">品牌定位</a></li>
	              <li><a href="/7reasons.htm">选择固铂的七大理由</a></li>
	              <li><a href="/dat.htm">DAT动态盔甲科技</a></li>
	              <li><a href="/armor.htm">Armor-Tek<sup>3</sup>三重盔甲技术</a></li>
	              <li><a href="/dakar_2012.htm">固铂与达喀尔拉力赛</a></li>
	              <li><a href="/award.htm">所获奖项</a></li>
	              <li><a href="/video_online.htm">固铂影片在线播放</a></li>
	            </ul>
	          </div>
	        </li>
	        <li class="li li3"><a class="a" href="/products_mapping.htm">产品和服务</a>
	        <div class="none">
	            <ul class="menu">
	              <li><a href="/products_mapping.htm">产品定位图</a></li>
	              <li><a href="/products_list.htm">SUV & 4X4 轮胎产品</a></li>
	              <li><a href="/products_list_pcr.htm">轿车轮胎产品</a></li>
	              <li><a href="/products_list_winter.htm">冬季轮胎产品</a></li>
	              <li><a href="/products/search">在线选配轮胎</a></li>
	              <li><a href="/products_tips.htm">轮胎保养小常识</a></li>
	            </ul>
	          </div>
	        </li>
	        <li class="li li4"><a class="a" href="/infos">新闻媒体</a>
	        <div class="none">
	            <ul class="menu">
	              <li><a href="/infos">新闻中心</a></li>
	              <li><a href="/downloads">媒体中心</a></li> 
	             </ul> 
	          </div>
	        </li>
	        <li class="li li5"><a class="a" href="/shop_cpc.htm">营销网络</a>
	        <div class="none">
	            <ul class="menu">
	              <li><a href="/shop_cpc.htm">固铂形象店</a></li>
	              <li><a href="/stores/search">查找店铺</a></li>
	            </ul>
	          </div>
	        </li>
	      </ul>
	    </div>
	

	  </div>
	</div>
	
	<div id="maincontent">
		
	   <section id="page">
	        <%= yield %>
	      </section>
	
</div>

<div id="footer"><label><a href="/contactus.htm">联系我们</a><a href="/privacy.htm">隐私条款</a><a href="/sitemap.htm">网站地图</a></label> Copyright <span>&copy;</span> 2012 Cooper Tire & Rubber Company | 沪ICP备12001223号</div>
</div>
<script type="text/javascript" src="/js/jquery.min.js"></script>

<%= yield :flash %>
<script language="javascript" type="text/javascript" src="/js/global.js"></script>
<%= yield :jobs_js %>
</body>
</html>
